.banner-title {
    background: url(.././assets/images/img-banner.png) center/cover;
    height: 223px;
    border-radius: 25px;
    margin: 0px 80px;    
    text-align: center;
    color: #fff;   
    display: block;
    align-content: center;
}


