.button {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    background-color: $primary-color;
    border: none;
    font-size: 18px;
    font-family: 'Montserrat';
    font-weight: 700;
    color: #fff;
    padding: 11px 20px 11px 10px;
    position: relative;
    cursor: pointer;
    @media (max-width: 768px) {
        font-size: 13px;
        height: 30px;
        border-radius: 5px;
    }
    

    .fa-chevron-up {
        transition: transform 0.3s ease-in-out; 
        font-size: 1.9rem;  
        @media (max-width: 768px) {
          font-size: 1.5rem;
          } 
    }
    .rotate {
        transform: rotate(-180deg);
    }
}
.content { 
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: max-height 0.3s ease-out, opacity 0.3s ease-out;
    background-color: #fbfbfb;
    &.expanded {
        max-height: 350px;
        opacity: 1;
    }
    p, ul {       
        font-size: 18px;   
        line-height: 1.5;
        font-weight: 400;
        list-style-type: none;   
        margin: 0;
        padding: 20px;
        transform: translateY(-100%);
        transition: transform 0.3s ease-out;
        @media (max-width: 768px) {
           font-size: 12px;
           margin: -5px;
          }

    }
    &.expanded p,
    &.expanded ul {
        transform: translateY(0);
    }
}