.footer {
    height: 209px;
    background: url(.././assets/images/footer.png) center/cover no-repeat;
    @media (max-width: 768px) {
        height: 209px;
        background: url(.././assets/images/Size=Mobile.png) center/cover no-repeat;
    }
}