.gallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 60px;
  background-color: #f6f6f6;
  border-radius: 25px;
  padding: 56px 50px 43px 50px;
  @media (max-width: 768px) {
    display: flex;
    flex-direction: column;
    padding: 0;
    gap: 22px;
    background-color: #fff;
  }
  @media (min-width: 768px) and (max-width: 1024px) {
    gap: 36px;
  }
  .card {
    position: relative;
    img {
      height: 340px;
      width: 100%;
      border-radius: 10px;
      @media (max-width: 768px) {
        height: 255px;
        width: 100%;
      }
      @media (min-width: 768px) and (max-width: 1024px) {
        height: 240px;
      }
    }
    h3 {
      position: absolute;
      bottom: 10px;
      color: #fff;
      left: 20px;
      padding-right: 20px;
      @media (max-width: 768px) {
        bottom: 5px;
        text-transform: none;
      }
      @media (min-width: 768px) and (max-width: 1024px) {
        font-size: 14px;
      }
    }
  }
}
