.header {
    display: flex;
    justify-content: space-between;
    margin-top: 45px;
    margin-bottom: 7px;
    ul {
        display: flex;
        gap: 57px;
        a {
            color: inherit;         
            list-style-type: none;
            text-decoration: none;    
            &.active-link {
                text-decoration: underline;
            }
        }
    }
}