.header {
    display: flex;
    justify-content: space-between;
    margin: 45px 80px 50px 80px;
    ul {
        display: flex;
        gap: 57px;
        a {
            color: inherit;
            text-decoration: none;
            list-style-type: none;    
        }
    }
}