.header {
    display: flex;
    justify-content: space-between;
    margin: 45px 80px 50px 80px;
    @media (max-width: 768px) {
        margin: 20px 19px 27px 19px;
    }
    @media (min-width: 768px) and (max-width: 1024px) {
        margin-left: 60px;
        margin-right: 60px;
      }    
    
    img {
        @media (max-width: 768px) {
            width: 145px;
        };
        @media (min-width: 768px) and (max-width: 1024px) {
            width: 200px;
          }     
    }
    ul {
        display: flex;
        gap: 57px;
        @media (max-width: 768px) {
            gap: 26px;
            padding-left: 0px;
        }
        a {
            color: inherit;         
            list-style-type: none;
            text-decoration: none;    
            &.active-link {
                text-decoration: underline;
            }
        }
    }
}