@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
    
body {
    font-family: "Montserrat", sans-serif;
    font-size: 18px;  
    margin: 0px;
}
a {
    font-size: 24px;
    font-weight: 500;
    @media (max-width: 768px) {
        font-size: 12px;
        text-transform: uppercase;
    }
    @media (min-width: 768px) and (max-width: 1024px) {
        font-size: 18px;
        text-transform: uppercase;
      }     
    
}
img {
    object-fit: cover;
}
h2 {
    font-size: 36px;
    font-weight: 500;
}
h3 {
    font-size: 18px;
    font-weight: 700;
}
h4 {
    font-weight: 500;
}
p {
    font-size: 14px;
    font-weight: 700;
}